<div>
    <div ng-if="error">
        <div class="alert alert-danger">
            <h4>Error!</h4>
            <p>{{ error }}</p>
        </div>
    </div>
    <div ng-if="!error">
        <h1 class="page-header">Country &laquo;{{ country.name }}&raquo;</h1>
        <pre>{{ country | json }}</pre>
    </div>
</div>