<div>
    <h1 class="page-header">Countries</h1>
    <div ng-if="error">
        <div class="alert alert-danger">
            <h4>Error!</h4>
            <p>{{ error }}</p>
        </div>
    </div>
    <div ng-if="!error">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 10%">ID</th>
                <th style="width: 45%">Name</th>
                <th style="width: 45%">Capital</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="country in countries">
                <td>{{ country.id }}</td>
                <td><a href="#/country/{{ country.id }}">{{ country.name }}</a></td>
                <td>{{ country.capitalCity }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>